$LightPink = #FF847C;
$Pink = #E84A5F;
$DarkBlue = #2A363B;
$DarkestBlue = #03030B;

$SkyBlue = #45ADA8;
$DarkSkyBlue = #547980;
$DarkGrey = #594F4F;

$PaperWhite = #F4F4F4;
$Yellow = #E7AB3B;
$LightYellow = #FECEAB;