$LightDullGreen = #99B898;
$LightYellow = #FECEAB;
$LightPink = #FF847C;
$Pink = #E84A5F;
$DarkBlue = #2A363B;
$DarkestBlue = #03030B;

$LighterGreen = #E5FCC2;
$LightGreen = #9DE0AD;
$SkyBlue = #45ADA8;
$DarkSkyBlue = #547980;
$DarkGrey = #594F4F;

$PaperWhite = #F4F4F4;
$Yellow = #E7AB3B;