.Event text {
  font-family: $HeadingOneFontFamily;
  font-size: 1.2rem;
  font-weight: 300;
  fill: rgba($SkyBlue, 0.63);
  cursor: pointer;
  user-select: none;
  text-transform: capitalize;
  opacity: 0;
}

#EventSection {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 100vh;
  left: 0;
  z-index: 2;
}

#EventSVG {

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;

  .Star {

    // Generated via GreenSockJS.
    transform: matrix(72, 0, 0, 72, 428, -132);
    transform-origin: 0 0 0;
    cursor: default;
    fill: $Yellow;

    .Shell {
      display: block;
      opacity: 0;
      animation: none;
    }

    .Shell.Animate {
      animation-duration: 3s;
      animation-name: EventSVGStarShellAnimation;
      animation-direction: normal;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }

    for $shell in (1..4) {
      .Shell:nth-child({$shell}) {
        fill-opacity: ($shell / 10);
        animation-delay: unit((1 - ($shell / 10)), 's');
      }
    }

  }

}

@keyframes EventSVGStarShellAnimation {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
    transform: scale(1.5);
  }
  100% {
    opacity: 0;
    transform: scale(2.5);
  }

}

#EventContentContainer {

  padding-top: 9.2rem;
  padding-bottom: 1rem;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  user-select: none;
  overflow-x: hidden;
  overflow-y: hidden;

  > .row > div:nth-of-type(2) {
    text-align: right;
  }

  #EventEndedMessage {

    display: none;
    text-align: center;
    cursor: default;

    .glyphicon {
      padding: 6.6rem 0 1rem 0;
      font-size: 6.4rem;
      color: $Pink;
    }

    h4 {
      font-family: $ContentFontFamily;
      font-weight: 600;
      color: $Yellow;
    }

  }

  .PieTickerContainer {

    text-align: center;
    cursor: default;

    .Status {
      text-align: center;
      font-family: $ContentFontFamily;
      font-size: 1.8rem;
      font-weight: 600;
      color: $Yellow;
    }

    span {
      color: $PaperWhite;
      font-size: 1.4rem;
      font-weight: 400;
    }

    .PieTicker {

      width: 15rem;
      height: 15rem;
      margin: 2rem auto 1rem auto;
      user-select: none;
      display: block;

      .Inner {
        fill: $Yellow;
      }

      .Tick {
        fill: $DarkBlue;
        stroke: $Yellow;
        stroke-width: 8;
      }

      .Outer {
        fill: $DarkBlue;
      }

      .UpperText {
        font-family: $HeadingTwoFontFamily;
        font-weight: 400;
        font-size: 96px;
        fill: lighten($DarkBlue, 16%);
      }

      .LowerText {
        font-family: $HeadingThreeFontFamily;
        font-weight: 200;
        font-size: 54px;
        fill: $DarkBlue;
      }

    }
  }

}