#GalaxySection {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

#GalaxySVG {

  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

  .Category {

    opacity: 0;

    > text {
      font-family: $HeadingTwoFontFamily;
      /*
        Note: This font-size is being used in the logic of collision detection for
        the case of the Events in the form of a constant only change if you know what you are doing.
      */
      font-size: 2.4rem;
      font-weight: 300;
      fill: $DarkSkyBlue;
      fill-opacity: 0.67;
      text-transform: capitalize;
      user-select: none;
      cursor: default;
    }

  }

}

#GalaxyMapSVG {
  width: 10rem;
  height: 10rem;
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  background-color: rgba($DarkBlue, 0.33);
  border: solid 0.2rem rgba($SkyBlue, 0.67);

  .CategoryMarker {
    fill: rgba($SkyBlue, 0.7);
  }

  #FieldOfView {
    fill: rgba($SkyBlue, 0.33);
    stroke: rgba($SkyBlue, 0.67);
    stroke-width: 1;
  }

}