// For automatic CSS vendor prefixing.
@import 'nib'
@import 'ColorPalette.styl'

$HeadingOneFontFamily = "Roboto Light", sans-serif;
$HeadingTwoFontFamily = "Roboto Condensed", "Roboto Light", sans-serif;
$HeadingThreeFontFamily = "Roboto Condensed", "Roboto Light", sans-serif;
$ContentFontFamily = "Lato", "Roboto", sans-serif;
$HeadingOneFontSize = 4.8rem;
$HeadingTwoFontSize = 2.4rem;
$HeadingThreeFontSize = 2rem;
$ContentFontSize = 1.6rem;

// Default Styling for basic elements.
*, *::after, *::before {
  position: relative;
  box-sizing: border-box;
}

body {
  background-color: $DarkestBlue;
  width: 100vw;
  height: 100vh;
  font-family: $HeadingOneFontFamily;
  // Makes 1rem = 10px
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: $HeadingOneFontFamily;
  font-size: $HeadingOneFontSize;
  font-weight: 300;
  color: $Yellow;
  margin: 1rem;
  cursor: default;
  text-transform: capitalize;
}

h2 {
  font-family: $HeadingOneFontFamily;
  font-size: $HeadingTwoFontSize;
  font-weight: 300;
  color: $Pink;
  margin: 0.5rem 1rem;
  cursor: default;
  text-transform: capitalize;
}

h3 {
  font-family: $HeadingThreeFontFamily;
  font-size: $HeadingThreeFontSize;
  font-weight: 400;
  color: $DarkSkyBlue;
  margin: 0.5rem 1rem;
  cursor: default;
  text-transform: capitalize;
}

p {
  font-family: $ContentFontFamily;
  font-size: $ContentFontSize;
  font-weight: 400;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 0;
  color: $PaperWhite;
  text-align: justify;
  cursor: default;
}

@import 'Loading.styl'

#Header {
  background-color: rgba($DarkestBlue, 0.9);
  width: 100vw;
  height: 8.8rem;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  overflow: hidden;
  #Logo {
    width: 25.6rem;
    height: 6.4rem;
    position: absolute;
    top: 1.2rem;
    right: 1.6rem;
    cursor: pointer;
  }
  #HeaderCloseButton {
    position: absolute;
    top: 12.4rem;
    right: 2.4rem;
  }
}

.CloseButton {
  cursor: pointer;
}

.CloseButton svg {
  width: 3.2rem;
  height: 3.2rem;
  fill: #E84A5F;
  margin-top: -3rem;
  transition: fill 0.3s ease-in-out;
}

.CloseButton svg path {
  transition: transform 0.3s ease-in-out;
  transform: rotate(0deg) scale(1);
  transform-origin: 50% 50% 0;
}

.CloseButton:hover svg {
  fill: #ff4f64;
}

.CloseButton:hover svg path.InnerCross {
  transform: rotate(90deg) scale(0.8);
}

.CloseButton:active svg path.OuterCircle {
  transform: scale(0.8);
}

@media screen and (max-width: 320px) {
  #Header {
    #Logo {
      transform: scale(0.8);
      transform-origin: 100% 50%;
    }
  }
}

@import 'Search.styl'
@import 'Galaxy.styl'
@import 'Star.styl'
@import 'Event.styl'
@import 'Menu.styl'
@import 'AboutUs.styl'

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: $DarkBlue;
}

::-webkit-scrollbar-thumb {
  background-color: $Yellow;
}