@import 'ColorPalette.styl'

#mainMenuWrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

/*
  Do not use ELEMENT#ID or ELEMENT.CLASS because end user might want to change the ELEMENT from DIV to something else.
  Also its slightly faster for JavaScript engines to do #ID instead of ELEMENT#ID, so make a habit of
  using only #ID whenever possible.
*/
#searchMenu
  position absolute
  top 100vh
  width 100vw
  height 100vh
  overflow hidden
  padding 0
  color $PaperWhite
  font-family $ContentFontFamily
  background-color rgba($DarkestBlue, 0.9)
  opacity: 0

#searchBarSVG
  position fixed
  margin-left 20px
  margin-top 20px

#searchBarSVG * {
  stroke $SkyBlue
}

#menuButtonOverlay {
  cursor: pointer;
}

#searchBox
  display: none
  position fixed
  margin-top 19px
  margin-left 60px
  color rgba($PaperWhite, 0.7)
  background none
  border none
  font-size 1.6rem
  font-family $ContentFontFamily
  height 40px
  width 200px
  transition color 0.2s ease-in-out
  &:focus
    color rgba($PaperWhite, 1)
    outline none

#primaryMenuContainer
  position relative
  top 70px

#primaryMenuTabs
  position absolute
  border-bottom 1px solid rgba($DarkSkyBlue, 1)
  height 54px
  width 100%
  margin-top: -54px;
  > div.tab
    margin-top 1px
    display inline-block
    width 50%
    margin-left -9px
    text-align center
    padding 10px
    padding-top 15px
    padding-bottom 12px
    font-size 15px
    text-transform: capitalize;
    opacity 0.3
    cursor pointer
    transition all 0.2s ease-in-out
    > div.tabLine
      position absolute
      bottom -4px
      height 4px
      width 0
      background-color $DarkSkyBlue
      transition all 0.2s ease-in-out
    &:hover
      opacity 1
      > span
        margin-left 10px
        transition all 0.2s ease-in-out
  > div.activeTab
    opacity 1
    > div.tabLine
      width 100%
      transition all 0.2s ease-in-out
  > div > span
    position absolute
    opacity 0.5
    left 15px
    top 18px

#primaryOptionWrapper
  margin-top 54px

#primaryMenuOptions
  padding-top 20px
  padding-left 10px
  padding-right 10px
  padding-bottom 20px
  position relative
  text-align center
  height auto
  > h3
    opacity 0.5
    font-size 20px
  > div.menuOption
    position relative
    margin 20px
    display inline-block
    width 250px
    opacity 0
    padding 20px
    font-size 20px
    border-radius 5px
    cursor pointer
    overflow-x hidden
    transition transform 0.2s ease-in-out, background-color 0.2s ease-in-out
    &:hover
      background $DarkBlue
      transform scale(0.9)

.menuEventOption
  position relative
  margin 20px
  display inline-block
  width 250px
  opacity 0
  padding 20px
  font-size 15px
  border-radius 2px
  border 1px solid rgba(#fff, 0.5)
  cursor pointer
  overflow hidden
  &:hover
    background $DarkBlue
    transition all 0.2s ease-in-out
  > span.eventCorner
    width 10px
    height 10px
    background-color rgba(#fff, 0.5)
    position absolute
    bottom -5px
    right -5px
    transform rotate(45deg)

.searchOption
  position relative
  display inline-block
  width 300px
  margin 20px
  margin-top 10px
  opacity 0
  background-color rgba($DarkestBlue, 0.5)
  font-size 15px
  border-radius 5px
  cursor pointer
  height 82px
  overflow hidden
  > div
    text-align center
  > div > div.searchNameInfo
    padding 5px
    background-color rgba($DarkBlue, 0.2)
  > div > div.searchDesc
    border-top 1px solid rgba($LightDullGreen, 0.4)
    padding-left 24px
    padding-right 24px
    height 40px
    padding-top 5px
    opacity 0.6
    font-size 12px
    overflow-y hidden
  > div > div > div > span.searchDate
    padding-left 10px
    color $LighterGreen
    opacity 0.5
  &:hover
    background $DarkBlue
    text-shadow 0 1px 2px rgba($DarkestBlue, 0.5)
    transition all 0.2s ease-in-out

#MenuClose {
  position: absolute;
  top: 4.8rem;
  right: 2.4rem;
}
