@import 'ColorPalette.styl'

#MenuSection {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 100vh;
  left: 0;
  z-index: 2;
  opacity: 0;
  color: $PaperWhite;
  background-color: rgba($DarkestBlue, 0.93);
  overflow-y: auto;
  overflow-x: hidden;
}

#MenuContainer {
  padding-top: 8.8rem;
  font-size: 1.6rem;
}

#MenuButtonFrame {
  background-color: $Yellow;
  .MenuButton {

    display: block;
    font-size: 1.8rem;
    font-family: $HeadingThreeFontFamily;
    font-weight: 600;
    text-decoration: none;
    color: $DarkestBlue;
    cursor: pointer;
    transform: scale(1);
    transform-origin: 50% 50% 0;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
    padding-top: 1.2rem;
    padding-bottom: 1rem;
    text-align: center
    user-select: none;

    &:hover {
      color: $DarkBlue;
    }

    &:active {
      transform: scale(0.9);
    }

  }
}

#MenuHeadingFrame {

  height: 9.6rem;
  user-select: none;

  .MenuHeading {

    position: absolute;
    top: 2rem;
    left: -24rem;
    margin: 0;
    padding: 0;
    opacity: 0;

    &.Active {
      left: 1rem;
      opacity: 1;
    }

  }

  #MenuBackButton {

    cursor: pointer;
    position: absolute;
    top: 3rem;
    left: -4.2rem;
    padding: 0;
    margin: 0;
    opacity: 0;

    svg {

      fill: $Pink;
      width: 3.2rem;
      height: 3.2rem;
      transform: rotate(0deg);
      transform-origin: 50% 50% 0;
      transition: fill 0.3s ease-in-out, transform 0.3s ease-in-out;

      g {
        transform: scale(1);
        transition: transform 0.3s ease-in-out;
        transform-origin: 50% 50% 0;
      }

      &:hover {

        fill: $LightPink;
        transform: rotate(120deg);

      }

      &:active {
        g {
          transform: scale(0.8);
        }
      }

    }

    &.Show {
      left: 1rem;
      opacity: 1;
    }

  }

}

.MenuFrame {

  position: absolute;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: auto;
  padding: 0.5rem 1.5rem 1.5rem 1.5rem;
  display: none;
  opacity: 0;

  &.Active {
    display: block;
    opacity: 1;
    left: 0;
  }

}

#CategoryListFrame {
  .CategoryButton {

    padding-bottom: 1rem;

    .CategoryButtonSVG {

      width: 100%;
      max-width: 30rem;
      height: auto;
      cursor: pointer;
      user-select: none;

      text {
        font-family: $HeadingThreeFontFamily;
        font-weight: 300;
        font-size: 4.8rem;
        fill: rgba($PaperWhite, 0.7);
        transform: translateX(0);
        transition: transform 0.3s ease-out, fill 0.3s ease-out;
      }

      path {
        stroke: $DarkSkyBlue;
        fill: $DarkSkyBlue;
        stroke-width: 2.4;
        transform: scaleX(0.8);
        transition: transform 0.5s ease-out, stroke 0.5s ease-out, fill 0.5s ease-out;
      }

      &:hover {
        text {
          transform: translateX(2rem);
          fill: rgba($PaperWhite, 1);
        }
        path {
          transform: scaleX(1);
          stroke: $SkyBlue;
          fill: $SkyBlue;
        }
      }
      &:active {
        text {
          transform: translateX(1rem);
          fill: rgba($SkyBlue, 1);
        }
        path {
          transform: scaleX(0.9);
          stroke: $Yellow;
          fill: $Yellow;
        }
      }

    }
  }
}

.EventButton {

  padding: 1rem;

  .EventButtonContainer {

    border: solid 0.1rem $DarkSkyBlue;
    padding: 1rem;
    margin: 0;
    font-family: $ContentFontFamily;
    cursor: pointer;
    user-select: none;
    transform-origin: 50% 50% 0;
    transition: border 0.3s ease-in-out;

    span {
      display: inline-block;
      font-family: $HeadingThreeFontFamily;
      font-size: 2rem;
      font-weight: 400;
      color: $SkyBlue;
      padding: 0;
      transition: padding 0.3s ease-in-out;
    }

    svg {
      position: absolute;
      bottom: 0.2rem;
      right: 0.2rem;
      fill: $DarkSkyBlue;
      width: 1.6rem;
      height: 1.6rem;
      transform: scale(1);
      transform-origin: 100% 100% 0;
      transition: transform 0.3s ease-in-out, fill 0.3s ease-in-out;
    }

    &:hover {

      border-color: $SkyBlue;

      span {
        padding-left: 1rem;
      }

      svg {
        fill: $Yellow;
        transform: scale(1.2);
      }

    }

    &:active {

      span {
        padding-left: 0.5rem;
      }

      svg {
        fill: $Pink;
        transform: scale(0.8);
      }

    }

  }
}

#SearchListFrame {
  #NoSearchResults {
    margin: auto;
    h3 {
      color: $Pink;
    }
  }
}

@media screen and (max-width: 768px) {
  #MenuButtonFrame {
    .MenuButton {
      font-size: 1.4rem;
    }
    .col-xs-3 {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}