html {
  height: 100%;
}
* {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
h1 {
  font-family: "Roboto Light", sans-serif;
  font-size: 4.8rem;
  color: #e7ab3b;
  background: none;
}
h2 {
  font-family: "Roboto Condensed", "Roboto Light", sans-serif;
  font-size: 2.4rem;
  color: #ff847c;
}
div.background-wrapper {
  background: #03030b;
  z-index: -1;
  position: absolute;
  width: 100vw;
  height: 100vh;
}
div.foreground-wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 1;
}
div.coming-soon {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
div.workshop-panel {
  background: none;
  margin-top: 0;
  height: 100vh;
  width: 100vw;
  position: relative;
}
h2.workshop-venue {
  padding-left: 30px;
  color: #45ada8;
  font-style: italic;
}
span.workshop-time {
  color: #feceab;
}
span.workshop-date {
  color: #ff847c;
  padding-left: 20px;
}
span.workshop-date:after {
  content: ",";
  font-size: 20px;
  position: absolute;
  right: -5px;
  bottom: 0;
}
div.workshop-image {
  position: absolute;
  width: 100vw;
  height: 100vh;
}
div.workshop-image > img {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  margin: 0;
  padding: 0;
}
div.content {
  position: absolute;
  margin: 0 auto;
  padding: 40px 0;
  height: 100vh;
  width: 100vw;
  font-family: "Lato", "Roboto", sans-serif;
  font-size: 1.6rem;
  background: rgba(3,3,11,0.5);
}
div.content > h1 {
  margin-top: 80px;
  padding-left: 20px;
}
div.workshop-desc {
  color: #fff;
  height: 8em;
  text-align: justify;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 40px;
  border-top: 1px solid #99b898;
  border-bottom: 1px solid #99b898;
  background: rgba(3,3,11,0.4);
  overflow: hidden;
}
div.workshop-desc:after {
  content: "+";
  color: #ff847c;
  position: absolute;
  right: 5px;
  bottom: 0px;
  font-size: 40px;
  font-style: italic;
  padding: 5px;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background-color: #2a363b;
}
::-webkit-scrollbar-thumb {
  background-color: #e7ab3b;
}
